header {
    background-color: cornflowerblue;
    text-align: left;
    margin-left: 20px;
    display: inline-block;
    width: 480px;
    padding: 10px;
    margin: 0;
}

h2 {
    background-color: darkcyan;
    text-align: left;
    margin-left: 20px;
    display: inline-block;
    padding: 10px;
    margin: 0;
    width: 480px;
}

h3 {
    background-color:darkslateblue;
    text-align: left;
    margin-left: 20px;
    display: inline-block;
    width: 480px;
    padding: 10px;
    margin: 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
    
}

.img-container img {
    max-width: 100%;
    max-height: 100%;

}

